body{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    margin-top: 10%;
    background: linear-gradient(100deg, rgb(64, 171, 238), rgb(137, 137, 190));
    height: 100%;
}
.quoteBox{
    background-color: white;
    width: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 33rem;
    border-radius: 30px;
}
.X img{
    width: 30px;
    border-radius: 50%;
    margin-bottom: 2px;
}
.firstBox hr{
    width: 350px;
    height: 2.5px;
    border-radius: 30px;
    background: #2298e7;
    border-width: 0px;
}
.firstBox h1{
    position: relative;
    left: 15%;
    padding-top: 30px;
    margin-bottom: 20px;
}
.thirdBox{
    display: flex;
    gap: 60px;
}
.thirdBox{
    position: relative;
    bottom: -33%;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 50px;
    width: 120px;
    font-size: 1.1rem;
    gap: 6px;
    border-radius: 25px;
    border-width: 0px;
    background-color: #40b1dd;
    color: white;
    cursor: pointer;
}
.secondBox{
    width: 80%;
    height: 42%;
    margin-top: 50px;
    margin-bottom: -140px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name{
    position: relative;
    right: -20%;
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 600;
}
.name::before {
    content: "";
    display: block;
    width: 45px;
    height: 2.5px;
    background: #2298e7;
    left: -50px;
    top: 47.1%;
    position: absolute;
    border-radius: 80px;
  }
.quote::before, .quote::after{
    content: '"';
}
.quote{
    font-size: 23px;
}
.X{
    background: white;
    border-width: 2px;
    color: black;
}